-- =======================================
-- DATABASE ĐƠN GIẢN CHO ĐỒ ÁN CHUYÊN NGÀNH
-- WEB BÁN ĐỒ CHƠI - TOYSTORE
-- =======================================
-- Phiên bản: 2.0
-- Ngày tạo: 12/11/2025
-- Mô tả: Database đầy đủ với các tính năng:
--   - Quản lý tài khoản (Admin/User)
--   - Quản lý sản phẩm và danh mục
--   - Giỏ hàng (User & Guest)
--   - Đơn hàng và thanh toán
--   - Voucher & Phí ship
--   - Wishlist (Yêu thích)
-- =======================================

-- Tạo CSDL nếu chưa có
USE [master]
GO

IF DB_ID('toystore') IS NULL
BEGIN
    CREATE DATABASE [toystore]
     CONTAINMENT = NONE
     ON PRIMARY 
    ( NAME = N'toystore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\toystore.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
     LOG ON 
    ( NAME = N'toystore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\toystore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
     WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
    
    PRINT N'✅ Đã tạo database [toystore]'
END
ELSE
BEGIN
    PRINT N'⚠️ Database [toystore] đã tồn tại'
END
GO

-- Cấu hình database
ALTER DATABASE [toystore] SET COMPATIBILITY_LEVEL = 160
GO

-- Sử dụng database
USE [toystore]
GO

-- Enable full text search nếu có
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
    EXEC [toystore].[dbo].[sp_fulltext_database] @action = 'enable'
END
GO

-- =======================================
-- PHẦN I: TẠO CÁC BẢNG (TABLES)
-- =======================================

-- 1. Bảng Tài Khoản (Quản lý user và admin)
-- =======================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[DienThoai] [varchar](20) NULL,
	[VaiTro] [varchar](20) NOT NULL DEFAULT 'user', -- 'admin' hoặc 'user'
	[NgayTao] [datetime] NULL DEFAULT GETDATE(),
	[Enable] [bit] NULL DEFAULT 1,
PRIMARY KEY CLUSTERED ([ID] ASC)
) ON [PRIMARY]
GO

-- 2. Bảng Loại Sản Phẩm
-- =======================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[Enable] [bit] NULL DEFAULT 1,
PRIMARY KEY CLUSTERED ([ID] ASC)
) ON [PRIMARY]
GO

-- 3. Bảng Sản Phẩm
-- =======================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](200) NOT NULL,
	[LoaiID] [int] NOT NULL,
	[GiaBan] [decimal](15, 0) NOT NULL,
	[Ton] [int] NOT NULL DEFAULT 0,
	[MoTa] [ntext] NULL,
	[HinhAnhURL] [nvarchar](500) NULL,
	[NgayTao] [datetime] NULL DEFAULT GETDATE(),
	[Enable] [bit] NULL DEFAULT 1,
PRIMARY KEY CLUSTERED ([ID] ASC),
CONSTRAINT [CK_SanPham_Ton_NonNegative] CHECK ([Ton] >= 0)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

-- 4. Bảng Khách Hàng
-- =======================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[DienThoai] [varchar](20) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL DEFAULT GETDATE(),
	[Enable] [bit] NULL DEFAULT 1,
	[TaiKhoanID] [int] NULL,
PRIMARY KEY CLUSTERED ([ID] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

-- 5. Bảng Phương Thức Thanh Toán
-- =======================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongThucThanhToan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[Enable] [bit] NULL DEFAULT 1,
PRIMARY KEY CLUSTERED ([ID] ASC)
) ON [PRIMARY]
GO

-- 6. Bảng Voucher (Mã giảm giá)
-- =======================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaVoucher] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[LoaiGiamGia] [nvarchar](20) NOT NULL, -- 'PhanTram' hoặc 'TienMat'
	[GiaTriGiam] [decimal](18, 2) NOT NULL,
	[GiamToiDa] [decimal](18, 2) NULL,
	[DonHangToiThieu] [decimal](18, 2) NULL DEFAULT 0,
	[NgayBatDau] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
	[SoLuong] [int] NULL DEFAULT 0,
	[SoLuongDaSuDung] [int] NULL DEFAULT 0,
	[SuDungToiDaMoiNguoi] [int] NULL DEFAULT 1,
	[ApDungChoKhachVangLai] [bit] NULL DEFAULT 1,
	[TrangThai] [nvarchar](20) NULL DEFAULT 'HoatDong', -- 'HoatDong', 'TamDung', 'HetHan'
	[Enable] [bit] NULL DEFAULT 1,
	[NgayTao] [datetime] NULL DEFAULT GETDATE(),
	[NguoiTao] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
PRIMARY KEY CLUSTERED ([ID] ASC),
CHECK ([LoaiGiamGia] = 'TienMat' OR [LoaiGiamGia] = 'PhanTram'),
CHECK ([TrangThai] = 'HetHan' OR [TrangThai] = 'TamDung' OR [TrangThai] = 'HoatDong')
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

-- 7. Bảng Hóa Đơn
-- =======================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [varchar](50) NOT NULL,
	[KhachHangID] [int] NOT NULL,
	[NgayLap] [datetime] NULL DEFAULT GETDATE(),
	[TongTien] [decimal](15, 0) NOT NULL,
	[PhuongThucThanhToanID] [int] NOT NULL,
	[TrangThai] [nvarchar](50) NULL DEFAULT N'Chờ xử lý',
	[GhiChu] [nvarchar](max) NULL,
	[Enable] [bit] NULL DEFAULT 1,
	-- Các trường mở rộng cho tính năng Voucher, VAT, Ship
	[TienGoc] [decimal](15, 0) NULL,
	[TienVAT] [decimal](15, 0) NULL DEFAULT 0,
	[TyLeVAT] [decimal](5, 2) NULL DEFAULT 0.10,
	[MaVoucher] [varchar](50) NULL,
	[TienGiamGia] [decimal](15, 0) NULL DEFAULT 0,
	[PhiVanChuyen] [decimal](15, 0) NULL DEFAULT 30000,
	[MiemPhiVanChuyen] [bit] NULL DEFAULT 0,
	[TongTienSanPham] [decimal](18, 2) NULL,
	[VoucherID] [int] NULL,
	[GiamGia] [decimal](18, 2) NULL DEFAULT 0,
	[PhiShip] [decimal](18, 2) NULL DEFAULT 0,
	[VAT] [decimal](5, 2) NULL DEFAULT 0,
	-- Thông tin địa chỉ giao hàng
	[TinhThanh] [nvarchar](100) NULL,
	[QuanHuyen] [nvarchar](100) NULL,
	[PhuongXa] [nvarchar](100) NULL,
	[DiaChiGiaoHang] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED ([ID] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

-- 8. Bảng Chi Tiết Hóa Đơn
-- =======================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoaDonID] [int] NOT NULL,
	[SanPhamID] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaBan] [decimal](15, 0) NOT NULL,
	[ThanhTien] [decimal](15, 0) NOT NULL,
	[Enable] [bit] NULL DEFAULT 1,
	[DonGia] [decimal](15, 0) NOT NULL DEFAULT 0,
PRIMARY KEY CLUSTERED ([ID] ASC)
) ON [PRIMARY]
GO

-- 9. Bảng Giỏ Hàng (User đã đăng nhập)
-- =======================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoanID] [int] NOT NULL,
	[NgayTao] [datetime] NULL DEFAULT GETDATE(),
	[Enable] [bit] NULL DEFAULT 1,
PRIMARY KEY CLUSTERED ([ID] ASC)
) ON [PRIMARY]
GO

-- 10. Bảng Giỏ Hàng Chi Tiết
-- =======================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHangChiTiet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GioHangID] [int] NOT NULL,
	[SanPhamID] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayThem] [datetime] NULL DEFAULT GETDATE(),
	[Enable] [bit] NULL DEFAULT 1,
	[DonGia] [decimal](15, 0) NOT NULL DEFAULT 0,
PRIMARY KEY CLUSTERED ([ID] ASC),
CONSTRAINT [UQ_GioHangChiTiet_GioHangID_SanPhamID] UNIQUE NONCLUSTERED ([GioHangID] ASC, [SanPhamID] ASC),
CHECK ([SoLuong] > 0)
) ON [PRIMARY]
GO

-- 11. Bảng Giỏ Hàng Khách Vãng Lai (Guest Cart)
-- =======================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHangKhachVangLai](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SessionID] [varchar](255) NOT NULL, -- UUID từ frontend
	[SanPhamID] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](15, 0) NOT NULL,
	[NgayThem] [datetime] NULL DEFAULT GETDATE(),
	[NgayCapNhat] [datetime] NULL DEFAULT GETDATE(),
	[Enable] [bit] NULL DEFAULT 1,
PRIMARY KEY CLUSTERED ([ID] ASC),
CONSTRAINT [UQ_GuestCart_Session_Product] UNIQUE NONCLUSTERED ([SessionID] ASC, [SanPhamID] ASC),
CHECK ([SoLuong] > 0)
) ON [PRIMARY]
GO

-- 12. Bảng Yêu Thích (Wishlist)
-- =======================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuThich](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoanID] [int] NOT NULL,
	[SanPhamID] [int] NOT NULL,
	[NgayThem] [datetime] NULL DEFAULT GETDATE(),
	[GhiChu] [nvarchar](500) NULL,
	[Enable] [bit] NULL DEFAULT 1,
PRIMARY KEY CLUSTERED ([ID] ASC),
CONSTRAINT [UQ_YeuThich_TaiKhoan_SanPham] UNIQUE NONCLUSTERED ([TaiKhoanID] ASC, [SanPhamID] ASC)
) ON [PRIMARY]
GO

-- 13. Bảng Phí Ship (Phí vận chuyển)
-- =======================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhiShip](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](200) NOT NULL,
	[TinhThanh] [nvarchar](100) NULL,
	[KhoangCachMin] [decimal](18, 2) NULL,
	[KhoangCachMax] [decimal](18, 2) NULL,
	[GiaTriDonHangMin] [decimal](18, 2) NULL DEFAULT 0,
	[GiaTriDonHangMax] [decimal](18, 2) NULL,
	[PhiShip] [decimal](18, 2) NOT NULL,
	[MienPhiShipTu] [decimal](18, 2) NULL,
	[MoTa] [nvarchar](max) NULL,
	[ThuTu] [int] NULL DEFAULT 0,
	[Enable] [bit] NULL DEFAULT 1,
	[NgayTao] [datetime] NULL DEFAULT GETDATE(),
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED ([ID] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

-- 14. Bảng Lịch Sử Sử Dụng Voucher
-- =======================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuSuDungVoucher](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VoucherID] [int] NOT NULL,
	[HoaDonID] [int] NOT NULL,
	[TaiKhoanID] [int] NULL,
	[GiaTriGiam] [decimal](18, 2) NOT NULL,
	[NgaySuDung] [datetime] NULL DEFAULT GETDATE(),
	[Enable] [bit] NULL DEFAULT 1,
PRIMARY KEY CLUSTERED ([ID] ASC)
) ON [PRIMARY]
GO

-- =======================================
-- PHẦN II: TẠO INDEXES (CHỈ MỤC)
-- =======================================

-- Indexes cho bảng TaiKhoan
CREATE UNIQUE NONCLUSTERED INDEX [tai_khoan__ten_dang_nhap] ON [dbo].[TaiKhoan]([TenDangNhap] ASC)
GO
CREATE UNIQUE NONCLUSTERED INDEX [tai_khoan__email] ON [dbo].[TaiKhoan]([Email] ASC) WHERE ([Email] IS NOT NULL)
GO

-- Indexes cho bảng LoaiSP
CREATE UNIQUE NONCLUSTERED INDEX [UQ_LoaiSP_Ten] ON [dbo].[LoaiSP]([Ten] ASC)
GO

-- Indexes cho bảng KhachHang
CREATE NONCLUSTERED INDEX [IX_KhachHang_TaiKhoanID] ON [dbo].[KhachHang]([TaiKhoanID] ASC)
GO

-- Indexes cho bảng HoaDon
CREATE UNIQUE NONCLUSTERED INDEX [UQ_HoaDon_MaHD] ON [dbo].[HoaDon]([MaHD] ASC)
GO
CREATE NONCLUSTERED INDEX [IX_HoaDon_MaHD] ON [dbo].[HoaDon]([MaHD] ASC) INCLUDE([TongTien],[TrangThai],[KhachHangID],[PhuongThucThanhToanID],[NgayLap],[Enable]) WITH (PAD_INDEX = ON, FILLFACTOR = 90)
GO
CREATE NONCLUSTERED INDEX [IX_HoaDon_Enable_NgayLap] ON [dbo].[HoaDon]([Enable] ASC, [NgayLap] DESC) INCLUDE([MaHD],[TongTien],[TrangThai],[KhachHangID]) WITH (PAD_INDEX = ON, FILLFACTOR = 90)
GO
CREATE NONCLUSTERED INDEX [IX_HoaDon_KhachHangID_TrangThai] ON [dbo].[HoaDon]([KhachHangID] ASC, [TrangThai] ASC, [Enable] ASC) INCLUDE([MaHD],[TongTien],[NgayLap]) WITH (PAD_INDEX = ON, FILLFACTOR = 90)
GO

-- Indexes cho bảng GioHangKhachVangLai
CREATE NONCLUSTERED INDEX [IX_GioHangKhachVangLai_SessionID] ON [dbo].[GioHangKhachVangLai]([SessionID] ASC)
GO
CREATE NONCLUSTERED INDEX [IX_GioHangKhachVangLai_NgayThem] ON [dbo].[GioHangKhachVangLai]([NgayThem] ASC)
GO

-- Indexes cho bảng YeuThich
CREATE NONCLUSTERED INDEX [IX_YeuThich_TaiKhoanID] ON [dbo].[YeuThich]([TaiKhoanID] ASC)
GO
CREATE NONCLUSTERED INDEX [IX_YeuThich_SanPhamID] ON [dbo].[YeuThich]([SanPhamID] ASC)
GO

-- Indexes cho bảng Voucher
CREATE NONCLUSTERED INDEX [IDX_Voucher_MaVoucher] ON [dbo].[Voucher]([MaVoucher] ASC)
GO
CREATE NONCLUSTERED INDEX [IDX_Voucher_NgayHieuLuc] ON [dbo].[Voucher]([NgayBatDau] ASC, [NgayKetThuc] ASC)
GO
CREATE NONCLUSTERED INDEX [IDX_Voucher_TrangThai] ON [dbo].[Voucher]([TrangThai] ASC)
GO
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Voucher_MaVoucher] ON [dbo].[Voucher]([MaVoucher] ASC)
GO

-- Indexes cho bảng PhiShip
CREATE NONCLUSTERED INDEX [IDX_PhiShip_TinhThanh] ON [dbo].[PhiShip]([TinhThanh] ASC)
GO
CREATE NONCLUSTERED INDEX [IDX_PhiShip_Enable] ON [dbo].[PhiShip]([Enable] ASC)
GO
CREATE NONCLUSTERED INDEX [IDX_PhiShip_ThuTu] ON [dbo].[PhiShip]([ThuTu] ASC)
GO

-- Indexes cho bảng LichSuSuDungVoucher
CREATE NONCLUSTERED INDEX [IDX_LichSuVoucher_Voucher] ON [dbo].[LichSuSuDungVoucher]([VoucherID] ASC)
GO
CREATE NONCLUSTERED INDEX [IDX_LichSuVoucher_HoaDon] ON [dbo].[LichSuSuDungVoucher]([HoaDonID] ASC)
GO
CREATE NONCLUSTERED INDEX [IDX_LichSuVoucher_TaiKhoan] ON [dbo].[LichSuSuDungVoucher]([TaiKhoanID] ASC)
GO

-- =======================================
-- PHẦN III: TẠO FOREIGN KEYS (RÀNG BUỘC KHÓA NGOẠI)
-- =======================================

-- Foreign Keys cho bảng SanPham
ALTER TABLE [dbo].[SanPham] WITH CHECK ADD FOREIGN KEY([LoaiID]) REFERENCES [dbo].[LoaiSP] ([ID])
GO

-- Foreign Keys cho bảng KhachHang
ALTER TABLE [dbo].[KhachHang] WITH CHECK ADD CONSTRAINT [FK_KhachHang_TaiKhoan] FOREIGN KEY([TaiKhoanID]) REFERENCES [dbo].[TaiKhoan] ([ID])
GO

-- Foreign Keys cho bảng HoaDon
ALTER TABLE [dbo].[HoaDon] WITH CHECK ADD FOREIGN KEY([KhachHangID]) REFERENCES [dbo].[KhachHang] ([ID])
GO
ALTER TABLE [dbo].[HoaDon] WITH CHECK ADD FOREIGN KEY([PhuongThucThanhToanID]) REFERENCES [dbo].[PhuongThucThanhToan] ([ID])
GO
ALTER TABLE [dbo].[HoaDon] WITH CHECK ADD CONSTRAINT [FK_HoaDon_Voucher] FOREIGN KEY([VoucherID]) REFERENCES [dbo].[Voucher] ([ID])
GO

-- Foreign Keys cho bảng ChiTietHoaDon
ALTER TABLE [dbo].[ChiTietHoaDon] WITH CHECK ADD FOREIGN KEY([HoaDonID]) REFERENCES [dbo].[HoaDon] ([ID])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] WITH CHECK ADD FOREIGN KEY([SanPhamID]) REFERENCES [dbo].[SanPham] ([ID])
GO

-- Foreign Keys cho bảng GioHang
ALTER TABLE [dbo].[GioHang] WITH CHECK ADD FOREIGN KEY([TaiKhoanID]) REFERENCES [dbo].[TaiKhoan] ([ID])
GO

-- Foreign Keys cho bảng GioHangChiTiet
ALTER TABLE [dbo].[GioHangChiTiet] WITH CHECK ADD FOREIGN KEY([GioHangID]) REFERENCES [dbo].[GioHang] ([ID])
GO
ALTER TABLE [dbo].[GioHangChiTiet] WITH CHECK ADD FOREIGN KEY([SanPhamID]) REFERENCES [dbo].[SanPham] ([ID])
GO

-- Foreign Keys cho bảng GioHangKhachVangLai
ALTER TABLE [dbo].[GioHangKhachVangLai] WITH CHECK ADD FOREIGN KEY([SanPhamID]) REFERENCES [dbo].[SanPham] ([ID])
GO

-- Foreign Keys cho bảng YeuThich
ALTER TABLE [dbo].[YeuThich] WITH CHECK ADD FOREIGN KEY([SanPhamID]) REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[YeuThich] WITH CHECK ADD FOREIGN KEY([TaiKhoanID]) REFERENCES [dbo].[TaiKhoan] ([ID])
GO

-- Foreign Keys cho bảng Voucher
ALTER TABLE [dbo].[Voucher] WITH CHECK ADD CONSTRAINT [FK_Voucher_NguoiTao] FOREIGN KEY([NguoiTao]) REFERENCES [dbo].[TaiKhoan] ([ID])
GO
ALTER TABLE [dbo].[Voucher] WITH CHECK ADD CONSTRAINT [FK_Voucher_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat]) REFERENCES [dbo].[TaiKhoan] ([ID])
GO

-- Foreign Keys cho bảng LichSuSuDungVoucher
ALTER TABLE [dbo].[LichSuSuDungVoucher] WITH CHECK ADD CONSTRAINT [FK_LichSuVoucher_Voucher] FOREIGN KEY([VoucherID]) REFERENCES [dbo].[Voucher] ([ID])
GO
ALTER TABLE [dbo].[LichSuSuDungVoucher] WITH CHECK ADD CONSTRAINT [FK_LichSuVoucher_HoaDon] FOREIGN KEY([HoaDonID]) REFERENCES [dbo].[HoaDon] ([ID])
GO
ALTER TABLE [dbo].[LichSuSuDungVoucher] WITH CHECK ADD CONSTRAINT [FK_LichSuVoucher_TaiKhoan] FOREIGN KEY([TaiKhoanID]) REFERENCES [dbo].[TaiKhoan] ([ID])
GO

-- =======================================
-- PHẦN IV: TẠO VIEWS (KHUNG NHÌN)
-- =======================================

-- View: Danh sách sản phẩm với thông tin loại
GO
CREATE VIEW [dbo].[vw_SanPham] AS
SELECT 
    sp.ID, sp.Ten, sp.GiaBan, sp.Ton, sp.MoTa, sp.HinhAnhURL,
    lsp.Ten AS LoaiSP
FROM SanPham sp
INNER JOIN LoaiSP lsp ON sp.LoaiID = lsp.ID
WHERE sp.Enable = 1
GO

-- View: Hóa đơn chi tiết
GO
CREATE VIEW [dbo].[vw_HoaDonChiTiet] AS
SELECT 
    hd.ID, hd.MaHD, hd.NgayLap, hd.TongTien, hd.TrangThai,
    kh.HoTen AS TenKhachHang, kh.DienThoai,
    pttt.Ten AS PhuongThucThanhToan
FROM HoaDon hd
INNER JOIN KhachHang kh ON hd.KhachHangID = kh.ID
INNER JOIN PhuongThucThanhToan pttt ON hd.PhuongThucThanhToanID = pttt.ID
WHERE hd.Enable = 1
GO

-- View: Giỏ hàng người dùng
GO
CREATE VIEW [dbo].[vw_GioHangNguoiDung] AS
SELECT 
    gh.ID AS GioHangID,
    tk.TenDangNhap,
    sp.Ten AS TenSanPham,
    ghct.SoLuong,
    sp.GiaBan,
    (ghct.SoLuong * sp.GiaBan) AS ThanhTien
FROM GioHang gh
INNER JOIN TaiKhoan tk ON gh.TaiKhoanID = tk.ID
INNER JOIN GioHangChiTiet ghct ON gh.ID = ghct.GioHangID
INNER JOIN SanPham sp ON ghct.SanPhamID = sp.ID
WHERE gh.Enable = 1 AND ghct.Enable = 1 AND sp.Enable = 1
GO

-- View: Giỏ hàng khách vãng lai
GO
CREATE VIEW [dbo].[vw_GioHangKhachVangLai] AS
SELECT 
    ghkv.ID,
    ghkv.SessionID,
    ghkv.SanPhamID,
    sp.Ten AS TenSanPham,
    sp.HinhAnhURL,
    sp.Ton AS TonKho,
    ghkv.SoLuong,
    ghkv.DonGia,
    (ghkv.SoLuong * ghkv.DonGia) AS ThanhTien,
    lsp.Ten AS LoaiSP,
    ghkv.NgayThem,
    ghkv.NgayCapNhat
FROM GioHangKhachVangLai ghkv
INNER JOIN SanPham sp ON ghkv.SanPhamID = sp.ID
INNER JOIN LoaiSP lsp ON sp.LoaiID = lsp.ID
WHERE ghkv.Enable = 1 AND sp.Enable = 1
GO

-- View: Danh sách yêu thích với thông tin sản phẩm
GO
CREATE VIEW [dbo].[vw_DanhSachYeuThich] AS
SELECT 
    yt.ID AS YeuThichID,
    yt.TaiKhoanID,
    tk.TenDangNhap,
    tk.HoTen,
    yt.SanPhamID,
    sp.Ten AS TenSanPham,
    sp.GiaBan,
    sp.Ton,
    sp.HinhAnhURL,
    sp.MoTa,
    lsp.Ten AS LoaiSP,
    yt.NgayThem,
    yt.GhiChu
FROM YeuThich yt
INNER JOIN TaiKhoan tk ON yt.TaiKhoanID = tk.ID
INNER JOIN SanPham sp ON yt.SanPhamID = sp.ID
INNER JOIN LoaiSP lsp ON sp.LoaiID = lsp.ID
WHERE yt.Enable = 1 AND sp.Enable = 1 AND tk.Enable = 1
GO

-- =======================================
-- PHẦN V: TẠO STORED PROCEDURES
-- =======================================

-- Stored Procedure: Tạo mã hóa đơn tự động
GO
CREATE PROCEDURE [dbo].[sp_TaoMaHoaDon]
    @MaHD VARCHAR(50) OUTPUT
AS
BEGIN
    DECLARE @SoThuTu INT
    DECLARE @NgayHienTai VARCHAR(8) = FORMAT(GETDATE(), 'yyyyMMdd')
    
    SELECT @SoThuTu = ISNULL(MAX(CAST(RIGHT(MaHD, 3) AS INT)), 0) + 1
    FROM HoaDon 
    WHERE MaHD LIKE 'HD' + @NgayHienTai + '%'
    
    SET @MaHD = 'HD' + @NgayHienTai + RIGHT('000' + CAST(@SoThuTu AS VARCHAR), 3)
END
GO

-- Stored Procedure: Tính phí ship
GO
CREATE PROCEDURE [dbo].[sp_TinhPhiShip]
    @TinhThanh NVARCHAR(100),
    @GiaTriDonHang DECIMAL(18, 2),
    @PhiShip DECIMAL(18, 2) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Tìm phí ship phù hợp (ưu tiên theo ThuTu, sau đó theo TinhThanh cụ thể)
    SELECT TOP 1 
        @PhiShip = CASE 
            WHEN @GiaTriDonHang >= ISNULL(MienPhiShipTu, 999999999) THEN 0
            ELSE PhiShip
        END
    FROM PhiShip
    WHERE Enable = 1
        AND (TinhThanh = @TinhThanh OR TinhThanh IS NULL)
        AND (@GiaTriDonHang >= GiaTriDonHangMin)
        AND (@GiaTriDonHang < ISNULL(GiaTriDonHangMax, 999999999) OR GiaTriDonHangMax IS NULL)
    ORDER BY 
        CASE WHEN TinhThanh = @TinhThanh THEN 0 ELSE 1 END, -- Ưu tiên tỉnh thành cụ thể
        ThuTu ASC;
    
    -- Nếu không tìm thấy, set mặc định = 30000
    IF @PhiShip IS NULL
        SET @PhiShip = 30000;
END
GO

-- Stored Procedure: Tính tổng tiền đơn hàng
GO
CREATE PROCEDURE [dbo].[sp_TinhTongTienDonHang]
    @TongTienSanPham DECIMAL(18, 2),
    @VoucherID INT = NULL,
    @TinhThanh NVARCHAR(100) = NULL,
    @VAT DECIMAL(5, 2) = 0,
    @TongTien DECIMAL(18, 2) OUTPUT,
    @GiamGia DECIMAL(18, 2) OUTPUT,
    @PhiShip DECIMAL(18, 2) OUTPUT,
    @TienVAT DECIMAL(18, 2) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 1. Tính giảm giá từ voucher
    SET @GiamGia = 0;
    
    IF @VoucherID IS NOT NULL
    BEGIN
        DECLARE @LoaiGiamGia NVARCHAR(20);
        DECLARE @GiaTriGiam DECIMAL(18, 2);
        DECLARE @GiamToiDa DECIMAL(18, 2);
        DECLARE @DonHangToiThieu DECIMAL(18, 2);
        
        SELECT 
            @LoaiGiamGia = LoaiGiamGia,
            @GiaTriGiam = GiaTriGiam,
            @GiamToiDa = GiamToiDa,
            @DonHangToiThieu = DonHangToiThieu
        FROM Voucher
        WHERE ID = @VoucherID AND Enable = 1 AND TrangThai = 'HoatDong';
        
        -- Kiểm tra đơn hàng đủ điều kiện
        IF @TongTienSanPham >= @DonHangToiThieu
        BEGIN
            IF @LoaiGiamGia = 'TienMat'
            BEGIN
                SET @GiamGia = @GiaTriGiam;
            END
            ELSE IF @LoaiGiamGia = 'PhanTram'
            BEGIN
                SET @GiamGia = @TongTienSanPham * @GiaTriGiam / 100;
                -- Giới hạn giảm tối đa
                IF @GiamToiDa IS NOT NULL AND @GiamGia > @GiamToiDa
                    SET @GiamGia = @GiamToiDa;
            END
        END
    END
    
    -- 2. Tính phí ship
    EXEC sp_TinhPhiShip @TinhThanh, @TongTienSanPham, @PhiShip OUTPUT;
    
    -- 3. Tính tiền sau giảm giá
    DECLARE @TongTienSauGiamGia DECIMAL(18, 2);
    SET @TongTienSauGiamGia = @TongTienSanPham - @GiamGia;
    
    IF @TongTienSauGiamGia < 0
        SET @TongTienSauGiamGia = 0;
    
    -- 4. Tính VAT (áp dụng trên tổng tiền sau giảm giá + phí ship)
    SET @TienVAT = (@TongTienSauGiamGia + @PhiShip) * @VAT / 100;
    
    -- 5. Tính tổng tiền cuối cùng
    SET @TongTien = @TongTienSauGiamGia + @PhiShip + @TienVAT;
END
GO

-- Stored Procedure: Thêm sản phẩm vào yêu thích
GO
CREATE PROCEDURE [dbo].[sp_ThemYeuThich]
    @TaiKhoanID INT,
    @SanPhamID INT,
    @GhiChu NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Kiểm tra sản phẩm đã tồn tại trong danh sách yêu thích chưa
    IF EXISTS (SELECT 1 FROM YeuThich WHERE TaiKhoanID = @TaiKhoanID AND SanPhamID = @SanPhamID AND Enable = 1)
    BEGIN
        -- Nếu đã tồn tại, cập nhật ngày thêm
        UPDATE YeuThich 
        SET NgayThem = GETDATE(), GhiChu = @GhiChu
        WHERE TaiKhoanID = @TaiKhoanID AND SanPhamID = @SanPhamID;
        
        SELECT 1 AS Success, N'Đã cập nhật sản phẩm yêu thích' AS Message;
    END
    ELSE
    BEGIN
        -- Nếu chưa tồn tại, thêm mới
        INSERT INTO YeuThich (TaiKhoanID, SanPhamID, GhiChu)
        VALUES (@TaiKhoanID, @SanPhamID, @GhiChu);
        
        SELECT 1 AS Success, N'Đã thêm vào danh sách yêu thích' AS Message;
    END
END
GO

-- Stored Procedure: Xóa sản phẩm khỏi yêu thích
GO
CREATE PROCEDURE [dbo].[sp_XoaYeuThich]
    @TaiKhoanID INT,
    @SanPhamID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE YeuThich 
    SET Enable = 0
    WHERE TaiKhoanID = @TaiKhoanID AND SanPhamID = @SanPhamID;
    
    SELECT 1 AS Success, N'Đã xóa khỏi danh sách yêu thích' AS Message;
END
GO

-- Stored Procedure: Kiểm tra sản phẩm đã yêu thích chưa
GO
CREATE PROCEDURE [dbo].[sp_KiemTraYeuThich]
    @TaiKhoanID INT,
    @SanPhamID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    IF EXISTS (SELECT 1 FROM YeuThich WHERE TaiKhoanID = @TaiKhoanID AND SanPhamID = @SanPhamID AND Enable = 1)
        SELECT 1 AS DaYeuThich;
    ELSE
        SELECT 0 AS DaYeuThich;
END
GO

-- Stored Procedure: Xóa giỏ hàng khách vãng lai cũ
GO
CREATE PROCEDURE [dbo].[sp_XoaGioHangKhachVangLaiCu]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @SoLuongXoa INT;
    
    -- Xóa giỏ hàng guest cũ hơn 7 ngày
    DELETE FROM GioHangKhachVangLai
    WHERE NgayCapNhat < DATEADD(DAY, -7, GETDATE());
    
    SET @SoLuongXoa = @@ROWCOUNT;
    
    PRINT N'✅ Đã xóa ' + CAST(@SoLuongXoa AS NVARCHAR(10)) + N' giỏ hàng guest cũ';
    
    SELECT @SoLuongXoa AS SoLuongXoa;
END
GO

-- =======================================
-- PHẦN VI: ENABLE FOREIGN KEY CONSTRAINTS
-- =======================================
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_TaiKhoan]
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Voucher]
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [FK_Voucher_NguoiTao]
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [FK_Voucher_NguoiCapNhat]
GO
ALTER TABLE [dbo].[LichSuSuDungVoucher] CHECK CONSTRAINT [FK_LichSuVoucher_Voucher]
GO
ALTER TABLE [dbo].[LichSuSuDungVoucher] CHECK CONSTRAINT [FK_LichSuVoucher_HoaDon]
GO
ALTER TABLE [dbo].[LichSuSuDungVoucher] CHECK CONSTRAINT [FK_LichSuVoucher_TaiKhoan]
GO

-- =======================================
-- KẾT THÚC SCRIPT
-- =======================================
USE [master]
GO

PRINT N''
PRINT N'========================================'
PRINT N'✅ HOÀN TẤT TẠO DATABASE TOYSTORE!'
PRINT N'========================================'
PRINT N'📋 Đã tạo:'
PRINT N'  - 14 Bảng (Tables)'
PRINT N'  - 5 Views'
PRINT N'  - 7 Stored Procedures'
PRINT N'  - Các Indexes và Foreign Keys'
PRINT N''
PRINT N'Bạn có thể bắt đầu sử dụng database ngay!'
GO
