-- =======================================
-- TẠO DATABASE
-- =======================================
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'toystore')
BEGIN
    CREATE DATABASE toystore;
END
GO

USE toystore;
GO

-- =======================================
-- PHẦN I: TẠO CẤU TRÚC BẢNG (Structure Only)
-- =======================================
-- 📌 20 BẢNG - DATABASE TOYSTORE
-- ✅ Bao gồm Banner, Google OAuth, và đầy đủ tính năng
-- =======================================

-- ========== NHÓM 1: HỆ THỐNG & DANH MỤC (5 bảng) ==========

-- 1. TaiKhoan - Quản lý người dùng (11 cột) ✅ Thêm Google OAuth
CREATE TABLE TaiKhoan (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    TenDangNhap VARCHAR(50) NOT NULL,
    MatKhau VARCHAR(255) NULL,  -- NULL cho tài khoản Google-only
    HoTen NVARCHAR(100) NOT NULL,
    Email NVARCHAR(100) NOT NULL,
    DienThoai VARCHAR(20) NULL,
    VaiTro NVARCHAR(20) DEFAULT 'KhachHang',  -- 'Admin', 'NhanVien', 'KhachHang'
    NgayTao DATETIME DEFAULT GETDATE(),
    TrangThai BIT DEFAULT 1,
    -- Google OAuth fields
    GoogleID VARCHAR(255) NULL,  -- Google User ID
    LoginMethod NVARCHAR(20) DEFAULT 'Password' NULL  -- 'Password', 'Google', 'Both'
);

-- 2. Banner - Quản lý banner trang chủ (7 cột) ✅ Bảng mới
CREATE TABLE Banner (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    HinhAnhUrl NVARCHAR(MAX) NOT NULL,
    Link NVARCHAR(500) DEFAULT '/products',
    ThuTu INT DEFAULT 1,
    IsActive BIT DEFAULT 1,
    NgayTao DATETIME DEFAULT GETDATE(),
    NgayCapNhat DATETIME NULL
);

-- 3. LoaiSP - Danh mục sản phẩm (3 cột)
CREATE TABLE LoaiSP (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Ten NVARCHAR(100) NOT NULL,
    TrangThai BIT DEFAULT 1
);

-- 4. ThuongHieu - Thương hiệu (4 cột) ✅ Thêm Logo
CREATE TABLE ThuongHieu (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    TenThuongHieu NVARCHAR(100) NOT NULL,
    Logo NVARCHAR(500) NULL,  -- URL logo thương hiệu
    TrangThai BIT DEFAULT 1
);

-- 5. PhuongThucThanhToan (2 cột)
CREATE TABLE PhuongThucThanhToan (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Ten NVARCHAR(100) NOT NULL
);

-- ========== NHÓM 2: SẢN PHẨM (3 bảng) ==========

-- 6. SanPham (12 cột)
CREATE TABLE SanPham (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Ten NVARCHAR(200) NOT NULL,
    LoaiID INT NOT NULL,
    ThuongHieuID INT NULL,
    GiaBan DECIMAL(18, 2) NOT NULL,
    SoLuongTon INT NOT NULL DEFAULT 0,
    MoTa NVARCHAR(MAX) NULL,
    HinhAnhURL NVARCHAR(500) NULL,
    NgayTao DATETIME DEFAULT GETDATE(),
    TrangThai BIT DEFAULT 1,
    -- Thống kê đánh giá
    TongSoDanhGia INT DEFAULT 0,
    DiemTrungBinh DECIMAL(3, 2) DEFAULT 0.00
);

-- 7. SanPhamHinhAnh (5 cột) - Hình ảnh sản phẩm
CREATE TABLE SanPhamHinhAnh (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    SanPhamID INT NOT NULL,
    DuongDanHinhAnh NVARCHAR(500) NOT NULL,
    ThuTu INT DEFAULT 0,
    LaMacDinh BIT DEFAULT 0
);

-- 8. KhachHang (6 cột)
CREATE TABLE KhachHang (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    HoTen NVARCHAR(100) NOT NULL,
    Email NVARCHAR(100) NULL,
    DienThoai VARCHAR(20) NULL,
    TaiKhoanID INT NULL,
    NgayTao DATETIME DEFAULT GETDATE()
);

-- ========== NHÓM 3: VOUCHER (2 bảng) ==========

-- 9. Voucher (13 cột)
CREATE TABLE Voucher (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    MaVoucher NVARCHAR(50) NOT NULL,
    Ten NVARCHAR(200) NOT NULL,
    MoTa NVARCHAR(MAX) NULL,
    
    -- Cấu hình giảm giá
    LoaiGiamGia NVARCHAR(20) NOT NULL,  -- 'TienMat', 'PhanTram'
    GiaTriGiam DECIMAL(18, 2) NOT NULL,
    GiamToiDa DECIMAL(18, 2) NULL,
    DonHangToiThieu DECIMAL(18, 2) DEFAULT 0,
    
    -- Thời gian & số lượng
    NgayBatDau DATETIME NOT NULL,
    NgayKetThuc DATETIME NOT NULL,
    SoLuong INT DEFAULT 0,
    SoLuongDaSuDung INT DEFAULT 0,
    SuDungToiDaMoiNguoi INT DEFAULT 1,
    
    TrangThai NVARCHAR(20) DEFAULT 'HoatDong'
);

-- 10. LichSuSuDungVoucher (6 cột) ✅ Tracking lịch sử sử dụng voucher
CREATE TABLE LichSuSuDungVoucher (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    VoucherID INT NOT NULL,
    HoaDonID INT NOT NULL,
    TaiKhoanID INT NULL,  -- NULL nếu khách vãng lai
    GiaTriGiam DECIMAL(18, 2) NOT NULL,
    NgaySuDung DATETIME DEFAULT GETDATE()
);

-- ========== NHÓM 4: HÓA ĐƠN (5 bảng) ==========

-- 11. HoaDon (13 cột)
CREATE TABLE HoaDon (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    MaHD VARCHAR(50) NOT NULL,
    KhachHangID INT NOT NULL,
    PhuongThucThanhToanID INT NOT NULL,
    NgayLap DATETIME DEFAULT GETDATE(),
    TrangThai NVARCHAR(50) DEFAULT N'Chờ xử lý',
    
    -- Tiền
    TienGoc DECIMAL(18, 2) NOT NULL DEFAULT 0,
    VoucherID INT NULL,
    GiamGia DECIMAL(18, 2) DEFAULT 0,
    TienShip DECIMAL(18, 2) DEFAULT 30000,
    TyLeVAT DECIMAL(5, 2) DEFAULT 0.10,
    TienVAT DECIMAL(18, 2) DEFAULT 0,
    ThanhTien DECIMAL(18, 2) NOT NULL DEFAULT 0,
    
    GhiChu NVARCHAR(MAX) NULL
);

-- 12. DiaChiGiaoHang (11 cột) - Địa chỉ giao hàng cho từng hóa đơn
CREATE TABLE DiaChiGiaoHang (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    HoaDonID INT NOT NULL,
    
    -- GHN API
    MaTinhID INT NULL,
    MaQuanID INT NULL,
    MaPhuongXa VARCHAR(20) NULL,
    
    -- Display
    TenTinh NVARCHAR(100) NULL,
    TenQuan NVARCHAR(100) NULL,
    TenPhuong NVARCHAR(100) NULL,
    DiaChiChiTiet NVARCHAR(500) NULL,
    
    -- Người nhận
    SoDienThoai VARCHAR(20) NULL,
    TenNguoiNhan NVARCHAR(100) NULL
);

-- 13. ThongTinVanChuyen (11 cột) - Thông tin vận chuyển GHN
CREATE TABLE ThongTinVanChuyen (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    HoaDonID INT NOT NULL,
    MaVanDon VARCHAR(100) NULL,
    DonViVanChuyen VARCHAR(100) NULL,
    NgayGuiHang DATETIME NULL,
    NgayGiaoThanhCong DATETIME NULL,
    NgayGiaoDuKien DATETIME NULL,
    SoLanGiaoThatBai INT DEFAULT 0,
    GhiChuShipper NVARCHAR(MAX) NULL,
    PhiVanChuyen DECIMAL(18, 2) NULL,
    TrangThaiGHN NVARCHAR(50) NULL
);

-- 14. LichSuTrangThaiDonHang (6 cột) - Lịch sử thay đổi trạng thái đơn hàng
CREATE TABLE LichSuTrangThaiDonHang (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    HoaDonID INT NOT NULL,
    TrangThaiCu NVARCHAR(50) NULL,
    TrangThaiMoi NVARCHAR(50) NOT NULL,
    NguoiThayDoi VARCHAR(50) NULL,
    LyDo NVARCHAR(MAX) NULL,
    NgayThayDoi DATETIME DEFAULT GETDATE()
);

-- 15. ChiTietHoaDon (6 cột) - Chi tiết sản phẩm trong hóa đơn
CREATE TABLE ChiTietHoaDon (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    HoaDonID INT NOT NULL,
    SanPhamID INT NOT NULL,
    SoLuong INT NOT NULL,
    DonGia DECIMAL(18, 2) NOT NULL,
    ThanhTien DECIMAL(18, 2) NOT NULL
);

-- ========== NHÓM 5: GIỎ HÀNG (3 bảng) ==========

-- 16. GioHang (2 cột) - Giỏ hàng của người dùng đã đăng nhập
CREATE TABLE GioHang (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    TaiKhoanID INT NOT NULL
);

-- 17. GioHangChiTiet (6 cột) - Chi tiết giỏ hàng người dùng
CREATE TABLE GioHangChiTiet (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    GioHangID INT NOT NULL,
    SanPhamID INT NOT NULL,
    SoLuong INT NOT NULL,
    DonGia DECIMAL(18, 2) NOT NULL,
    DaChon BIT DEFAULT 0
);

-- 18. GioHangKhachVangLai (7 cột) - Giỏ hàng khách vãng lai (session-based)
CREATE TABLE GioHangKhachVangLai (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    MaPhien VARCHAR(255) NOT NULL,
    SanPhamID INT NOT NULL,
    SoLuong INT NOT NULL,
    DonGia DECIMAL(18, 2) NOT NULL,
    DaChon BIT DEFAULT 0,
    NgayHetHan DATETIME NULL
);

-- ========== NHÓM 6: ĐÁNH GIÁ (1 bảng) ==========

-- 19. DanhGiaSanPham (8 cột) - Đánh giá sản phẩm của khách hàng
CREATE TABLE DanhGiaSanPham (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    SanPhamID INT NOT NULL,
    TaiKhoanID INT NOT NULL,
    SoSao INT NOT NULL,
    NoiDung NVARCHAR(MAX) NULL,
    HinhAnh1 NVARCHAR(500) NULL,
    TrangThai NVARCHAR(20) DEFAULT 'ChoDuyet',  -- 'ChoDuyet', 'DaDuyet', 'BiTuChoi'
    NgayTao DATETIME DEFAULT GETDATE()
);

-- ========== NHÓM 7: ĐỊA CHỈ (1 bảng) ==========

-- 20. DiaChiGiaoHangUser (12 cột) - Địa chỉ giao hàng của người dùng
CREATE TABLE DiaChiGiaoHangUser (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    TaiKhoanID INT NOT NULL,
    
    TenNguoiNhan NVARCHAR(100) NOT NULL,
    SoDienThoai VARCHAR(20) NOT NULL,
    
    -- GHN format
    MaTinhID INT NULL,
    TenTinh NVARCHAR(100) NULL,
    MaQuanID INT NULL,
    TenQuan NVARCHAR(100) NULL,
    MaPhuongXa VARCHAR(20) NULL,
    TenPhuong NVARCHAR(100) NULL,
    DiaChiChiTiet NVARCHAR(500) NOT NULL,
    
    LaMacDinh BIT DEFAULT 0,
    TrangThai BIT DEFAULT 1
);

GO

-- =======================================
-- PHẦN II: CONSTRAINTS (Ràng buộc)
-- =======================================

-- ========== TaiKhoan ==========
ALTER TABLE TaiKhoan ADD CONSTRAINT CK_TaiKhoan_VaiTro 
    CHECK (VaiTro IN ('Admin', 'NhanVien', 'KhachHang'));
ALTER TABLE TaiKhoan ADD CONSTRAINT CK_TaiKhoan_LoginMethod 
    CHECK (LoginMethod IN ('Password', 'Google', 'Both') OR LoginMethod IS NULL);

-- ========== SanPham ==========
ALTER TABLE SanPham ADD CONSTRAINT CK_SanPham_GiaBan CHECK (GiaBan >= 0);
ALTER TABLE SanPham ADD CONSTRAINT CK_SanPham_SoLuongTon CHECK (SoLuongTon >= 0);
ALTER TABLE SanPham ADD CONSTRAINT CK_SanPham_DiemTrungBinh CHECK (DiemTrungBinh >= 0 AND DiemTrungBinh <= 5);
ALTER TABLE SanPham ADD CONSTRAINT CK_SanPham_TongSoDanhGia CHECK (TongSoDanhGia >= 0);
ALTER TABLE SanPham ADD CONSTRAINT FK_SanPham_LoaiSP 
    FOREIGN KEY(LoaiID) REFERENCES LoaiSP(ID);
ALTER TABLE SanPham ADD CONSTRAINT FK_SanPham_ThuongHieu 
    FOREIGN KEY(ThuongHieuID) REFERENCES ThuongHieu(ID);

-- ========== SanPhamHinhAnh ==========
ALTER TABLE SanPhamHinhAnh ADD CONSTRAINT FK_SanPhamHinhAnh_SanPham 
    FOREIGN KEY(SanPhamID) REFERENCES SanPham(ID) ON DELETE CASCADE;

-- ========== KhachHang ==========
ALTER TABLE KhachHang ADD CONSTRAINT FK_KhachHang_TaiKhoan 
    FOREIGN KEY(TaiKhoanID) REFERENCES TaiKhoan(ID);

-- ========== Voucher ==========
ALTER TABLE Voucher ADD CONSTRAINT CK_Voucher_LoaiGiamGia 
    CHECK (LoaiGiamGia IN ('TienMat', 'PhanTram'));
ALTER TABLE Voucher ADD CONSTRAINT CK_Voucher_TrangThai 
    CHECK (TrangThai IN ('HoatDong', 'TamDung', 'HetHan'));
ALTER TABLE Voucher ADD CONSTRAINT CK_Voucher_NgayHieuLuc 
    CHECK (NgayBatDau < NgayKetThuc);
ALTER TABLE Voucher ADD CONSTRAINT CK_Voucher_GiaTriGiam 
    CHECK (GiaTriGiam > 0);
ALTER TABLE Voucher ADD CONSTRAINT CK_Voucher_SoLuong 
    CHECK (SoLuongDaSuDung <= SoLuong);

-- ========== LichSuSuDungVoucher ==========
ALTER TABLE LichSuSuDungVoucher ADD CONSTRAINT FK_LichSuSuDungVoucher_Voucher 
    FOREIGN KEY(VoucherID) REFERENCES Voucher(ID);
ALTER TABLE LichSuSuDungVoucher ADD CONSTRAINT FK_LichSuSuDungVoucher_HoaDon 
    FOREIGN KEY(HoaDonID) REFERENCES HoaDon(ID);
ALTER TABLE LichSuSuDungVoucher ADD CONSTRAINT FK_LichSuSuDungVoucher_TaiKhoan 
    FOREIGN KEY(TaiKhoanID) REFERENCES TaiKhoan(ID);

-- ========== HoaDon ==========
ALTER TABLE HoaDon ADD CONSTRAINT CK_HoaDon_ThanhTien CHECK (ThanhTien >= 0);
ALTER TABLE HoaDon ADD CONSTRAINT CK_HoaDon_GiamGia CHECK (GiamGia >= 0);
ALTER TABLE HoaDon ADD CONSTRAINT CK_HoaDon_TienShip CHECK (TienShip >= 0);
ALTER TABLE HoaDon ADD CONSTRAINT CK_HoaDon_TrangThai CHECK (TrangThai IN (
    N'Chờ thanh toán', N'Chờ xử lý', N'Đã xác nhận', N'Đang đóng gói',
    N'Sẵn sàng giao hàng', N'Đang giao hàng', N'Đã giao hàng', N'Hoàn thành', 
    N'Đã hủy', N'Giao hàng thất bại', N'Đang hoàn tiền', N'Đã hoàn tiền'
));
ALTER TABLE HoaDon ADD CONSTRAINT FK_HoaDon_KhachHang 
    FOREIGN KEY(KhachHangID) REFERENCES KhachHang(ID);
ALTER TABLE HoaDon ADD CONSTRAINT FK_HoaDon_PhuongThucThanhToan 
    FOREIGN KEY(PhuongThucThanhToanID) REFERENCES PhuongThucThanhToan(ID);
ALTER TABLE HoaDon ADD CONSTRAINT FK_HoaDon_Voucher 
    FOREIGN KEY(VoucherID) REFERENCES Voucher(ID);

-- ========== DiaChiGiaoHang ==========
ALTER TABLE DiaChiGiaoHang ADD CONSTRAINT FK_DiaChiGiaoHang_HoaDon 
    FOREIGN KEY(HoaDonID) REFERENCES HoaDon(ID) ON DELETE CASCADE;

-- ========== ThongTinVanChuyen ==========
ALTER TABLE ThongTinVanChuyen ADD CONSTRAINT FK_ThongTinVanChuyen_HoaDon 
    FOREIGN KEY(HoaDonID) REFERENCES HoaDon(ID) ON DELETE CASCADE;
ALTER TABLE ThongTinVanChuyen ADD CONSTRAINT CK_VanChuyen_SoLanGiao 
    CHECK (SoLanGiaoThatBai >= 0 AND SoLanGiaoThatBai <= 3);

-- ========== LichSuTrangThaiDonHang ==========
ALTER TABLE LichSuTrangThaiDonHang ADD CONSTRAINT FK_LichSuTrangThai_HoaDon 
    FOREIGN KEY(HoaDonID) REFERENCES HoaDon(ID) ON DELETE CASCADE;
ALTER TABLE LichSuTrangThaiDonHang ADD CONSTRAINT CK_LichSu_NguoiThayDoi 
    CHECK (NguoiThayDoi IN ('KhachHang', 'Admin', 'System') OR NguoiThayDoi IS NULL);

-- ========== ChiTietHoaDon ==========
ALTER TABLE ChiTietHoaDon ADD CONSTRAINT CK_ChiTietHoaDon_SoLuong CHECK (SoLuong > 0);
ALTER TABLE ChiTietHoaDon ADD CONSTRAINT CK_ChiTietHoaDon_DonGia CHECK (DonGia >= 0);
ALTER TABLE ChiTietHoaDon ADD CONSTRAINT FK_ChiTietHoaDon_HoaDon 
    FOREIGN KEY(HoaDonID) REFERENCES HoaDon(ID) ON DELETE CASCADE;
ALTER TABLE ChiTietHoaDon ADD CONSTRAINT FK_ChiTietHoaDon_SanPham 
    FOREIGN KEY(SanPhamID) REFERENCES SanPham(ID);

-- ========== GioHang ==========
ALTER TABLE GioHang ADD CONSTRAINT FK_GioHang_TaiKhoan 
    FOREIGN KEY(TaiKhoanID) REFERENCES TaiKhoan(ID) ON DELETE CASCADE;

-- ========== GioHangChiTiet ==========
ALTER TABLE GioHangChiTiet ADD CONSTRAINT CK_GioHangChiTiet_SoLuong CHECK (SoLuong > 0);
ALTER TABLE GioHangChiTiet ADD CONSTRAINT CK_GioHangChiTiet_DonGia CHECK (DonGia >= 0);
ALTER TABLE GioHangChiTiet ADD CONSTRAINT UQ_GioHangChiTiet_GioHangID_SanPhamID 
    UNIQUE (GioHangID, SanPhamID);
ALTER TABLE GioHangChiTiet ADD CONSTRAINT FK_GioHangChiTiet_GioHang 
    FOREIGN KEY(GioHangID) REFERENCES GioHang(ID) ON DELETE CASCADE;
ALTER TABLE GioHangChiTiet ADD CONSTRAINT FK_GioHangChiTiet_SanPham 
    FOREIGN KEY(SanPhamID) REFERENCES SanPham(ID);

-- ========== GioHangKhachVangLai ==========
ALTER TABLE GioHangKhachVangLai ADD CONSTRAINT CK_GioHangKhachVangLai_SoLuong CHECK (SoLuong > 0);
ALTER TABLE GioHangKhachVangLai ADD CONSTRAINT CK_GioHangKhachVangLai_DonGia CHECK (DonGia >= 0);
ALTER TABLE GioHangKhachVangLai ADD CONSTRAINT UQ_GuestCart_MaPhien_SanPham 
    UNIQUE (MaPhien, SanPhamID);
ALTER TABLE GioHangKhachVangLai ADD CONSTRAINT FK_GioHangKhachVangLai_SanPham 
    FOREIGN KEY(SanPhamID) REFERENCES SanPham(ID);

-- ========== DanhGiaSanPham ==========
ALTER TABLE DanhGiaSanPham ADD CONSTRAINT CK_DanhGia_SoSao CHECK (SoSao >= 1 AND SoSao <= 5);
ALTER TABLE DanhGiaSanPham ADD CONSTRAINT CK_DanhGia_TrangThai 
    CHECK (TrangThai IN ('ChoDuyet', 'DaDuyet', 'BiTuChoi'));
ALTER TABLE DanhGiaSanPham ADD CONSTRAINT FK_DanhGia_SanPham 
    FOREIGN KEY(SanPhamID) REFERENCES SanPham(ID);
ALTER TABLE DanhGiaSanPham ADD CONSTRAINT FK_DanhGia_TaiKhoan 
    FOREIGN KEY(TaiKhoanID) REFERENCES TaiKhoan(ID);

-- ========== DiaChiGiaoHangUser ==========
ALTER TABLE DiaChiGiaoHangUser ADD CONSTRAINT FK_DiaChiUser_TaiKhoan 
    FOREIGN KEY(TaiKhoanID) REFERENCES TaiKhoan(ID) ON DELETE CASCADE;

GO

-- =======================================
-- PHẦN III: INDEXES (Tối ưu truy vấn)
-- =======================================

-- ========== Banner ==========
CREATE NONCLUSTERED INDEX IX_Banner_IsActive ON Banner(IsActive);
CREATE NONCLUSTERED INDEX IX_Banner_IsActive_ThuTu ON Banner(IsActive, ThuTu);
CREATE NONCLUSTERED INDEX IX_Banner_ThuTu ON Banner(ThuTu);

-- ========== TaiKhoan ==========
CREATE UNIQUE NONCLUSTERED INDEX UQ_TaiKhoan_TenDangNhap ON TaiKhoan(TenDangNhap);
CREATE UNIQUE NONCLUSTERED INDEX UQ_TaiKhoan_Email ON TaiKhoan(Email);
CREATE NONCLUSTERED INDEX IX_TaiKhoan_VaiTro ON TaiKhoan(VaiTro, TrangThai);
CREATE UNIQUE NONCLUSTERED INDEX UQ_TaiKhoan_GoogleID ON TaiKhoan(GoogleID) WHERE GoogleID IS NOT NULL;
CREATE NONCLUSTERED INDEX IX_TaiKhoan_LoginMethod ON TaiKhoan(LoginMethod);

-- ========== LoaiSP ==========
CREATE UNIQUE NONCLUSTERED INDEX UQ_LoaiSP_Ten ON LoaiSP(Ten);

-- ========== ThuongHieu ==========
CREATE UNIQUE NONCLUSTERED INDEX UQ_ThuongHieu_Ten ON ThuongHieu(TenThuongHieu);

-- ========== SanPham ==========
CREATE NONCLUSTERED INDEX IX_SanPham_LoaiID ON SanPham(LoaiID, TrangThai) INCLUDE(Ten, GiaBan);
CREATE NONCLUSTERED INDEX IX_SanPham_ThuongHieuID ON SanPham(ThuongHieuID, TrangThai);
CREATE NONCLUSTERED INDEX IX_SanPham_GiaBan ON SanPham(GiaBan, TrangThai);
CREATE NONCLUSTERED INDEX IX_SanPham_DiemTrungBinh ON SanPham(DiemTrungBinh DESC, TrangThai);
CREATE NONCLUSTERED INDEX IX_SanPham_NgayTao ON SanPham(NgayTao DESC, TrangThai);

-- ========== SanPhamHinhAnh ==========
CREATE NONCLUSTERED INDEX IX_SanPhamHinhAnh_SanPhamID ON SanPhamHinhAnh(SanPhamID, ThuTu);
CREATE NONCLUSTERED INDEX IX_SanPhamHinhAnh_LaMacDinh ON SanPhamHinhAnh(SanPhamID, LaMacDinh);

-- ========== KhachHang ==========
CREATE UNIQUE NONCLUSTERED INDEX UQ_KhachHang_TaiKhoanID ON KhachHang(TaiKhoanID) WHERE TaiKhoanID IS NOT NULL;
CREATE NONCLUSTERED INDEX IX_KhachHang_Email ON KhachHang(Email) WHERE Email IS NOT NULL;
CREATE NONCLUSTERED INDEX IX_KhachHang_DienThoai ON KhachHang(DienThoai) WHERE DienThoai IS NOT NULL;

-- ========== Voucher ==========
CREATE UNIQUE NONCLUSTERED INDEX UQ_Voucher_MaVoucher ON Voucher(MaVoucher);
CREATE NONCLUSTERED INDEX IX_Voucher_NgayHieuLuc ON Voucher(NgayBatDau, NgayKetThuc, TrangThai);

-- ========== LichSuSuDungVoucher ==========
CREATE NONCLUSTERED INDEX IX_LichSuSuDungVoucher_VoucherID ON LichSuSuDungVoucher(VoucherID);
CREATE NONCLUSTERED INDEX IX_LichSuSuDungVoucher_HoaDonID ON LichSuSuDungVoucher(HoaDonID);
CREATE NONCLUSTERED INDEX IX_LichSuSuDungVoucher_TaiKhoanID ON LichSuSuDungVoucher(TaiKhoanID);

-- ========== HoaDon ==========
CREATE UNIQUE NONCLUSTERED INDEX UQ_HoaDon_MaHD ON HoaDon(MaHD);
CREATE NONCLUSTERED INDEX IX_HoaDon_KhachHangID ON HoaDon(KhachHangID, TrangThai, NgayLap DESC);
CREATE NONCLUSTERED INDEX IX_HoaDon_NgayLap ON HoaDon(NgayLap DESC);
CREATE NONCLUSTERED INDEX IX_HoaDon_TrangThai ON HoaDon(TrangThai, NgayLap DESC);
CREATE NONCLUSTERED INDEX IX_HoaDon_VoucherID ON HoaDon(VoucherID) WHERE VoucherID IS NOT NULL;

-- ========== DiaChiGiaoHang ==========
CREATE UNIQUE NONCLUSTERED INDEX UQ_DiaChiGiaoHang_HoaDonID ON DiaChiGiaoHang(HoaDonID);

-- ========== ThongTinVanChuyen ==========
CREATE UNIQUE NONCLUSTERED INDEX UQ_ThongTinVanChuyen_HoaDonID ON ThongTinVanChuyen(HoaDonID);
CREATE NONCLUSTERED INDEX IX_ThongTinVanChuyen_MaVanDon ON ThongTinVanChuyen(MaVanDon) WHERE MaVanDon IS NOT NULL;

-- ========== LichSuTrangThaiDonHang ==========
CREATE NONCLUSTERED INDEX IX_LichSuTrangThai_HoaDonID ON LichSuTrangThaiDonHang(HoaDonID, NgayThayDoi DESC);

-- ========== ChiTietHoaDon ==========
CREATE NONCLUSTERED INDEX IX_ChiTietHoaDon_HoaDonID ON ChiTietHoaDon(HoaDonID);
CREATE NONCLUSTERED INDEX IX_ChiTietHoaDon_SanPhamID ON ChiTietHoaDon(SanPhamID);

-- ========== GioHang ==========
CREATE UNIQUE NONCLUSTERED INDEX UQ_GioHang_TaiKhoanID ON GioHang(TaiKhoanID);

-- ========== GioHangChiTiet ==========
CREATE NONCLUSTERED INDEX IX_GioHangChiTiet_GioHangID ON GioHangChiTiet(GioHangID, DaChon);
CREATE NONCLUSTERED INDEX IX_GioHangChiTiet_SanPhamID ON GioHangChiTiet(SanPhamID);

-- ========== GioHangKhachVangLai ==========
CREATE NONCLUSTERED INDEX IX_GioHangKhachVangLai_MaPhien ON GioHangKhachVangLai(MaPhien, DaChon);
CREATE NONCLUSTERED INDEX IX_GioHangKhachVangLai_NgayHetHan ON GioHangKhachVangLai(NgayHetHan) WHERE NgayHetHan IS NOT NULL;

-- ========== DanhGiaSanPham ==========
CREATE NONCLUSTERED INDEX IX_DanhGia_SanPhamID ON DanhGiaSanPham(SanPhamID, TrangThai, NgayTao DESC);
CREATE NONCLUSTERED INDEX IX_DanhGia_TaiKhoanID ON DanhGiaSanPham(TaiKhoanID, NgayTao DESC);

-- ========== DiaChiGiaoHangUser ==========
CREATE NONCLUSTERED INDEX IX_DiaChiUser_TaiKhoanID ON DiaChiGiaoHangUser(TaiKhoanID, TrangThai);
CREATE NONCLUSTERED INDEX IX_DiaChiUser_LaMacDinh ON DiaChiGiaoHangUser(TaiKhoanID, LaMacDinh) WHERE TrangThai = 1;

GO

-- =======================================
-- PHẦN IV: DỮ LIỆU MẪU (Seed Data)
-- =======================================

-- ========== PhuongThucThanhToan ==========
-- Thêm các phương thức thanh toán (COD và VNPay)
-- ✅ Sử dụng IDENTITY_INSERT để đảm bảo ID đúng như code expect (COD=1, VNPay=2)

SET IDENTITY_INSERT PhuongThucThanhToan ON;

IF NOT EXISTS (SELECT 1 FROM PhuongThucThanhToan WHERE ID = 1)
BEGIN
    INSERT INTO PhuongThucThanhToan (ID, Ten) VALUES (1, N'Thanh toán khi nhận hàng (COD)');
END
ELSE
BEGIN
    -- Cập nhật nếu đã tồn tại nhưng tên khác
    UPDATE PhuongThucThanhToan 
    SET Ten = N'Thanh toán khi nhận hàng (COD)' 
    WHERE ID = 1;
END

IF NOT EXISTS (SELECT 1 FROM PhuongThucThanhToan WHERE ID = 2)
BEGIN
    INSERT INTO PhuongThucThanhToan (ID, Ten) VALUES (2, N'Thanh toán qua VNPay');
END
ELSE
BEGIN
    -- Cập nhật nếu đã tồn tại nhưng tên khác
    UPDATE PhuongThucThanhToan 
    SET Ten = N'Thanh toán qua VNPay' 
    WHERE ID = 2;
END

SET IDENTITY_INSERT PhuongThucThanhToan OFF;

GO

-- =======================================
-- 📊 TÓM TẮT DATABASE TOYSTORE
-- =======================================

PRINT N'';
PRINT N'═══════════════════════════════════════════════════════════════════';
PRINT N'✅ DATABASE TOYSTORE - HOÀN CHỈNH!';
PRINT N'═══════════════════════════════════════════════════════════════════';
PRINT N'';

PRINT N'📊 TỔNG KẾT:';
PRINT N'  ✅ 20 bảng core';
PRINT N'  ✅ 100% tiếng Việt';
PRINT N'  ✅ 50+ indexes tối ưu';
PRINT N'  ✅ 40+ constraints';
PRINT N'  ✅ Hỗ trợ Google OAuth';
PRINT N'  ✅ Quản lý Banner';
PRINT N'';

PRINT N'🚀 20 BẢNG CHÍNH:';
PRINT N'  NHÓM 1: HỆ THỐNG & DANH MỤC (5 bảng)';
PRINT N'    1. TaiKhoan (11) ✅ + Google OAuth';
PRINT N'    2. Banner (7) ✅ Quản lý banner';
PRINT N'    3. LoaiSP (3)';
PRINT N'    4. ThuongHieu (4) ✅ + Logo';
PRINT N'    5. PhuongThucThanhToan (2)';
PRINT N'';
PRINT N'  NHÓM 2: SẢN PHẨM (3 bảng)';
PRINT N'    6. SanPham (12)';
PRINT N'    7. SanPhamHinhAnh (5)';
PRINT N'    8. KhachHang (6)';
PRINT N'';
PRINT N'  NHÓM 3: VOUCHER (2 bảng)';
PRINT N'    9. Voucher (13)';
PRINT N'    10. LichSuSuDungVoucher (6)';
PRINT N'';
PRINT N'  NHÓM 4: HÓA ĐƠN (5 bảng)';
PRINT N'    11. HoaDon (13)';
PRINT N'    12. DiaChiGiaoHang (11)';
PRINT N'    13. ThongTinVanChuyen (11)';
PRINT N'    14. LichSuTrangThaiDonHang (6)';
PRINT N'    15. ChiTietHoaDon (6)';
PRINT N'';
PRINT N'  NHÓM 5: GIỎ HÀNG (3 bảng)';
PRINT N'    16. GioHang (2)';
PRINT N'    17. GioHangChiTiet (6)';
PRINT N'    18. GioHangKhachVangLai (7)';
PRINT N'';
PRINT N'  NHÓM 6: ĐÁNH GIÁ (1 bảng)';
PRINT N'    19. DanhGiaSanPham (8)';
PRINT N'';
PRINT N'  NHÓM 7: ĐỊA CHỈ (1 bảng)';
PRINT N'    20. DiaChiGiaoHangUser (12)';
PRINT N'';

PRINT N'═══════════════════════════════════════════════════════════════════';
PRINT N'✅ SẴN SÀNG SỬ DỤNG!';
PRINT N'📅 Version: 1.0 | ' + CONVERT(VARCHAR, GETDATE(), 120);
PRINT N'═══════════════════════════════════════════════════════════════════';

GO
