-- =======================================
-- DATABASE ĐƠN GIẢN CHO ĐỒ ÁN CHUYÊN NGÀNH
-- WEB BÁN ĐỒ CHƠI
-- =======================================
-- Tạo CSDL nếu chưa có và chọn sử dụng
IF DB_ID('toystore') IS NULL
    CREATE DATABASE toystore;
GO

USE toystore;
GO


-- 1. Bảng tài khoản (phân quyền admin/user)
CREATE TABLE TaiKhoan (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    TenDangNhap VARCHAR(50) UNIQUE NOT NULL,
    MatKhau VARCHAR(255) NOT NULL,
    HoTen NVARCHAR(100) NOT NULL,
    Email NVARCHAR(100) UNIQUE,
    DienThoai VARCHAR(20),
    VaiTro VARCHAR(20) NOT NULL DEFAULT 'user', -- 'admin' hoặc 'user'
    NgayTao DATETIME DEFAULT GETDATE(),
    Enable BIT DEFAULT 1
);

-- 2. Bảng loại sản phẩm
CREATE TABLE LoaiSP (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Ten NVARCHAR(100) NOT NULL UNIQUE,
    MoTa NVARCHAR(500),
    Enable BIT DEFAULT 1
);

-- 3. Bảng sản phẩm
CREATE TABLE SanPham (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Ten NVARCHAR(200) NOT NULL,
    LoaiID INT NOT NULL,
    GiaBan DECIMAL(15, 0) NOT NULL,
    Ton INT NOT NULL DEFAULT 0,
    MoTa NTEXT,
    HinhAnhURL NVARCHAR(500),
    NgayTao DATETIME DEFAULT GETDATE(),
    Enable BIT DEFAULT 1,
    FOREIGN KEY (LoaiID) REFERENCES LoaiSP(ID)
);

-- 4. Bảng khách hàng
CREATE TABLE KhachHang (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    HoTen NVARCHAR(100) NOT NULL,
    Email NVARCHAR(100),
    DienThoai VARCHAR(20),
    DiaChi NVARCHAR(MAX),
    NgayTao DATETIME DEFAULT GETDATE(),
    Enable BIT DEFAULT 1
);

-- 5. Bảng phương thức thanh toán
CREATE TABLE PhuongThucThanhToan (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Ten NVARCHAR(100) NOT NULL,
    MoTa NVARCHAR(500),
    Enable BIT DEFAULT 1
);

-- 6. Bảng hóa đơn
CREATE TABLE HoaDon (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    MaHD VARCHAR(50) UNIQUE NOT NULL,
    KhachHangID INT NOT NULL,
    NgayLap DATETIME DEFAULT GETDATE(),
    TongTien DECIMAL(15, 0) NOT NULL,
    PhuongThucThanhToanID INT NOT NULL,
    TrangThai NVARCHAR(50) DEFAULT N'Chờ xử lý',
    GhiChu NVARCHAR(MAX),
    Enable BIT DEFAULT 1,
    FOREIGN KEY (KhachHangID) REFERENCES KhachHang(ID),
    FOREIGN KEY (PhuongThucThanhToanID) REFERENCES PhuongThucThanhToan(ID)
);

-- 7. Bảng chi tiết hóa đơn
CREATE TABLE ChiTietHoaDon (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    HoaDonID INT NOT NULL,
    SanPhamID INT NOT NULL,
    SoLuong INT NOT NULL,
    GiaBan DECIMAL(15, 0) NOT NULL,
    ThanhTien DECIMAL(15, 0) NOT NULL,
    Enable BIT DEFAULT 1,
    FOREIGN KEY (HoaDonID) REFERENCES HoaDon(ID),
    FOREIGN KEY (SanPhamID) REFERENCES SanPham(ID)
);

-- 8. Bảng giỏ hàng
CREATE TABLE GioHang (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    TaiKhoanID INT NOT NULL,
    NgayTao DATETIME DEFAULT GETDATE(),
    Enable BIT DEFAULT 1,
    FOREIGN KEY (TaiKhoanID) REFERENCES TaiKhoan(ID)
);

--9. Bảng Giỏ Hàng Chi Tiết
CREATE TABLE GioHangChiTiet (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    GioHangID INT NOT NULL,
    SanPhamID INT NOT NULL,
    SoLuong INT NOT NULL CHECK (SoLuong > 0),
    NgayThem DATETIME DEFAULT GETDATE(),
    Enable BIT DEFAULT 1,
    FOREIGN KEY (GioHangID) REFERENCES GioHang(ID),
    FOREIGN KEY (SanPhamID) REFERENCES SanPham(ID)
);

-- =======================================
-- CHÈN DỮ LIỆU MẪU
-- =======================================

-- Tài khoản
INSERT INTO TaiKhoan (TenDangNhap, MatKhau, HoTen, Email, VaiTro) VALUES 
('admin', 'admin123', N'Quản trị viên', 'admin@toystore.com', 'admin'),
('user1', 'user123', N'Nguyễn Văn A', 'nguyenvana@email.com', 'user');

-- Loại sản phẩm
INSERT INTO LoaiSP (Ten, MoTa) VALUES 
(N'Đồ chơi giáo dục', N'Đồ chơi phát triển trí tuệ'),
(N'Đồ chơi lắp ráp', N'Lego, xếp hình'),
(N'Búp bê', N'Búp bê các loại'),
(N'Xe mô hình', N'Xe đồ chơi');

-- Phương thức thanh toán
INSERT INTO PhuongThucThanhToan (Ten, MoTa) VALUES 
(N'Tiền mặt', N'Thanh toán khi nhận hàng'),
(N'Chuyển khoản', N'Chuyển khoản ngân hàng'),
(N'VNPay', N'Thanh toán qua VNPay');

-- Sản phẩm mẫu
INSERT INTO SanPham (Ten, LoaiID, GiaBan, Ton, MoTa, HinhAnhURL) VALUES 
(N'Búp bê Barbie', 3, 150000, 50, N'Búp bê Barbie thời trang', 'barbie.jpg'),
(N'Xe hơi điều khiển', 4, 250000, 30, N'Xe điều khiển từ xa', 'car.jpg'),
(N'Lego City', 2, 350000, 20, N'Bộ lego xây dựng thành phố', 'lego.jpg'),
(N'Rubik 3x3', 1, 50000, 100, N'Rubik thông minh', 'rubik.jpg');

-- Khách hàng mẫu
INSERT INTO KhachHang (HoTen, Email, DienThoai, DiaChi) VALUES 
(N'Khách lẻ', '', '', ''),
(N'Trần Thị B', 'tranthibinh@email.com', '0901234567', N'123 Nguyễn Huệ, Q1, TP.HCM');

-- =======================================
-- STORED PROCEDURES ĐƠN GIẢN
-- =======================================

GO
-- Tạo mã hóa đơn tự động
CREATE PROCEDURE sp_TaoMaHoaDon
    @MaHD VARCHAR(50) OUTPUT
AS
BEGIN
    DECLARE @SoThuTu INT
    DECLARE @NgayHienTai VARCHAR(8) = FORMAT(GETDATE(), 'yyyyMMdd')
    
    SELECT @SoThuTu = ISNULL(MAX(CAST(RIGHT(MaHD, 3) AS INT)), 0) + 1
    FROM HoaDon 
    WHERE MaHD LIKE 'HD' + @NgayHienTai + '%'
    
    SET @MaHD = 'HD' + @NgayHienTai + RIGHT('000' + CAST(@SoThuTu AS VARCHAR), 3)
END

GO
-- View sản phẩm với loại
CREATE VIEW vw_SanPham AS
SELECT 
    sp.ID, sp.Ten, sp.GiaBan, sp.Ton, sp.MoTa, sp.HinhAnhURL,
    lsp.Ten AS LoaiSP
FROM SanPham sp
INNER JOIN LoaiSP lsp ON sp.LoaiID = lsp.ID
WHERE sp.Enable = 1

GO
-- View hóa đơn chi tiết
CREATE VIEW vw_HoaDonChiTiet AS
SELECT 
    hd.ID, hd.MaHD, hd.NgayLap, hd.TongTien, hd.TrangThai,
    kh.HoTen AS TenKhachHang, kh.DienThoai,
    pttt.Ten AS PhuongThucThanhToan
FROM HoaDon hd
INNER JOIN KhachHang kh ON hd.KhachHangID = kh.ID
INNER JOIN PhuongThucThanhToan pttt ON hd.PhuongThucThanhToanID = pttt.ID
WHERE hd.Enable = 1

GO
-- OPTIONAL – View thống kê giỏ hàng theo người dùng
CREATE VIEW vw_GioHangNguoiDung AS
SELECT 
    gh.ID AS GioHangID,
    tk.TenDangNhap,
    sp.Ten AS TenSanPham,
    ghct.SoLuong,
    sp.GiaBan,
    (ghct.SoLuong * sp.GiaBan) AS ThanhTien
FROM GioHang gh
INNER JOIN TaiKhoan tk ON gh.TaiKhoanID = tk.ID
INNER JOIN GioHangChiTiet ghct ON gh.ID = ghct.GioHangID
INNER JOIN SanPham sp ON ghct.SanPhamID = sp.ID
WHERE gh.Enable = 1 AND ghct.Enable = 1 AND sp.Enable = 1;

